#body
  #header
    div(style='color: #adadad') Build by 
    div Luan
  #banner
    div
      h1(style='font-size:45px') A Joke a day keeps the doctor away
      h4 if you joke wrong way, your teeth have to pay. (Serious)
  div
    #content
      p#par
        | A child asked his father, &quot;How were people born?&quot; So his father said, &quot;Adam and Eve made babies, then their babies became adults and made babies, and so on.&quot;
        | The child then went to his mother, asked her the same question and she told him, &quot;We were monkeys then we evolved to become like we are now.&quot;
        | The child ran back to his father and said, &quot;You lied to me!&quot; His father replied, &quot;No, your mom was talking about her side of the family.&quot;
        hr#hr
    #outer
      .inner
        button.msgBtn(type='submit', onclick='return false', style='background-color:#29b363; color: white; width: 250%; height: 5%; font-size: 100%; border: none;') This is Funny!
      .inner
        button.msgBtn2(type='submit', onclick='myFunction()', style='background-color:#2c7edb; color: white; width: 220%; height: 5%; font-size: 100%; border: none;') This is not funny
    hr(style='margin-top: 8%')
  div
    p(style='text-align:center')
      | This website created by Luan, use for test by HLS 
      br
    p(style='text-align:center; color: #484848')
      | 2022

style.
  #body {
  font-family: calibri;
  }
  #header {
  text-align: right;
  margin-bottom: 2%
  }
  #banner {
  text-align: center;
  background-color: #29b363;
  color: white;
  padding: 50px;
  }
  #content {
  margin: 2% 20% 0px 20%
  }
  #par {
  font-size: 23px;
  color: #6e6e6e
  }
  #hr {
  margin: 8% 5% 8% 5%;
  background-color: #ccc;
  }
  #outer {
  width: 100%;
  text-align: center;
  }
  .inner {
  text-align: center;
  display: inline-block;
  margin-right: 15%;
  margin-left: 5%
  }
